.footer__img{
    max-height: 300px;
}

footer {
    background: linear-gradient(to bottom, rgba(17, 2, 16, 0.5), rgba(255, 251, 8, 0.8));
    padding: 20px;
    text-align: center;
    color: #000;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-copyright {
    margin-right: 10px;
}

.footer-links a {
    margin-left: 10px;
}


@media (max-width: 768px) {
    footer{
        font-size: 10px;
    }
}